*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body {
    background: #000;
    font-family: Open sans;
    margin-left: 50px;
}

header {
    padding: 40px 50px;
}

header .logo {
    float: left;
}

header .menu {
    float: right;
}

header .menu ul li {
    display: inline-block;
    margin: 0 20px;
}

header .menu ul li:last-child {
    margin-right: 0;
}

header .menu ul li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: all ease 0.5s;
}

header .menu ul li a:hover{
    color: #fff700;
}

.search {
    height: 64px;
    width: 100%;
    /* background-color: #3f51b5; */
}

.search input {
    width: calc(100% -180px);
    padding: 10px 15px;
    margin-right: 15px;
    font-size: 1.3rem;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid #fafafa;
    color: #fafafa;
}

.search button {
    padding: 10px 15px;
    background-color: transparent;
    border: 2px solid #fafafa;
    color: #fafafa;
    transition: .4s;
}

.search input::placeholder{
    color: #b2b2b2;
}
.search button:hover{
    background-color: #fafafa;
    color: #212121;
}

/*header button*/

header .menu ul li.btn a{
    background-color: #fff700;
    color: #000;
    padding: 14px 27px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

header .menu ul li.btn a:hover{
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;

}

/*container*/

.artist .container {
    max-width: 1266px;
    /* margin: 0 auto; */
    margin-top: -30px;
}

/*image band*/

.artist .person {
    float: right;
    margin: 70px 180px 0;
    position: relative;
    border-radius: 70px 0 70px 0;
    overflow: hidden;
}

.artist .person img {
    filter: brightness(1.5);
}

.artist .person-overlay {
    content: '';
    padding: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #525252;
    z-index: 99;
}
/*michael text*/

.groupImage{
    width: 700px;
    height: 500px;
}
 .groupName{
     margin-top: 5px;
 }
.artist-text {
    width: 100px;
    height: 200px;
    color: #fff;
    margin-top: 80px;
    position: absolute;
}

.artist-text h6 {
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 16px;
}

.stats{
    color: #fff;
    margin-top: 10px;
    position: absolute;
    font-size: 11px;

}

#groupCaption{
    color: #fff;
    margin-top: 10px;
    position: absolute;
    font-size: 13px;

}

.container2{
    display: inline-block;
}
/* .artist-text h6 {
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 1.6rem;
    overflow: hidden;
    border-right: .15em solid yellow;
    white-space: nowrap;
    animation: typing 4s steps(20, end) forwards;
    width: 0;
}
@keyframes typing {
    from { width: 0 }
    to { width: 16%}
} */


.artist-text h1 {
    text-transform: uppercase;
    font-size: 60px;
}

.artist-text p {
    max-width: 500px;
    font-size: 16px;
    margin-top: 230px;
}

.artist-text .name span {
    margin-right: 130px;
    display: inline-block;
}

.artist-text .name span:last-child {
    margin-right: 0;
}
/* 
DEFAULT STATE HIDE

.artist .person img ,
.student span,
.name span,
.logo,
.menu li,
.small-intro span{
    opacity: 0;
} */



